.ipynb_checkpoints/
*.swp

data/mock/
data/logs
dataset_cache/
embeddings/
wandb/

checkpoints/**
!checkpoints/final/
!checkpoints/final/ConvEncoder*.pth

*.pt
*.ckpt
*.h5
*.hdf5

!data/stats/
!data/stats/*.json

__pycache__